.Banner {
  position: relative;
  top: 80px;
  width: 100%;
  height: 200px;
  background-color: #212529;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.Banner .Container .titulo {

  color: white;
  background-color: #212529;
  font-weight: 700;

}


.head-text {
  position: relative;
}

.text-on-image {
  position: absolute !important;
  right: 50% !important;
  left: 50% !important;
  bottom: 15%;
}

.containerAboutCourse {
  display: flex;
  align-items: center;
  justify-content: center;



  padding-left: 150px;
  padding-right: 100px;
  padding-top: 80px;
  padding-bottom: 70px;
}



.Containerr {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.inteligenciaCard {
  width: 90%;
  height: 400px;
  margin-top: 60px;
  object-fit: cover;
  object-position: bottom;
}
.textCourseB{
  
  color: #a2a2a2;
  display: block;
 text-align: justify;
 width: 550px;
}
.containerTextos{
  padding-left: 20px;
  
}
@media screen and (max-width: 1030px) {
  .containerAboutCourse {
    flex-wrap: wrap;
    flex-direction: column;
  }

  /*definir classname para os parágrafos do containerAboutCourse*/
  /* diminuir width dos parágrafos e organizar estilização no css*/

}
@media screen and (max-width: 1238px) {
  .inteligenciaCard{
    width: 100%;
    height: 400px;
  }
    .textCourseB{
    width: 490px;
  }

}
@media screen and (max-width: 1180px) {
  .inteligenciaCard{
    width: 100%;
    height: 400px;
  }
  .textCourseB{
    width: 490px;
  }
}
@media screen and (max-width: 770px) {
  .inteligenciaCard{
    width: 100%;
    height: 400px;
  }
  .textCourseB{
    width: 490px;
  }

}

@media screen and (max-width: 430px) {
  .inteligenciaCard{
    width: 100%;
    height: 300px;
  }
  .textCourseB{
    width: 380px;
    align-items: center;
    padding-left: 0px;
    
  }
  .containerAboutCourse{

    padding:0px;
    align-items: center;
  }
}


@media screen and (min-width: 320px) and (max-width: 400px) {
  .textCourseB{
    padding-left: 0px;
    width: 350px;
  }
  .containerAboutCourse{

    padding-left:0px;
    align-items: center;
  }
  .containerTextos h2{
    font-size: 20px;
  }
}

@media screen and (max-width:320px){
  .textCourseB{
    padding-left: 0px;
    width: 290px;
  }
}