.Banner {
  position: relative;
  top: 80px;
  width: 100%;
  height: 200px;
  background-color: #212529;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.Banner .Container .titulo {

  color: white;
  background-color: #212529;
  font-weight: 700;

}


.head-text {
  position: relative;
}



.containerAboutCourse {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 150px;
  padding-right: 100px;
  padding-top: 80px;
  padding-bottom: 70px;
}



.Containerr {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.inteligenciaCard {
  width: 90%;
  height: 400px;
  margin-top: 60px;
  object-fit: cover;
  object-position: bottom;
}

.textCourseB {

  color: #a2a2a2;
  display: block;
  text-align: justify;
  width: 550px;
}

.containerTextos {
  padding-left: 20px;

}

@media screen and (max-width: 1030px) {
  .containerAboutCourse {
    flex-wrap: wrap;
    flex-direction: column;
  }

  /*definir classname para os parágrafos do containerAboutCourse*/
  /* diminuir width dos parágrafos e organizar estilização no css*/

}

@media screen and (max-width: 1238px) {
  .inteligenciaCard {
    width: 100%;
    height: 400px;
  }

  .textCourseB {
    width: 490px;
  }

}

@media screen and (max-width: 1200px) {
  .Containerr {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .containerAboutCourse {
    flex-wrap: wrap;
    flex-direction: column;
  }

}


@media screen and (max-width: 1180px) {
  .inteligenciaCard {
    width: 100%;
    height: 400px;
  }

  .textCourseB {
    width: 490px;
  }
}

@media screen and (max-width: 740px) {

  .containerAboutCourse {
    padding-left: 90px;
    padding-right: 70px;
  }


}

@media screen and (max-width: 730px) {

  .containerAboutCourse {
    padding-left: 60px;
    padding-right: 40px;
  }


}

@media screen and (max-width: 720px) {
  .inteligenciaCard {
    object-position: left;
    width: 400px;
    height: 400px;

  }

  .containerAboutCourse {
    padding-left: 0px;
    padding-right: 00px;
  }

  .containerTextos h2 {
    padding-left: 0px;
    width: 300px;
  }

  .containerTextos p {
    padding-left: 0px;
    width: 400px;
  }

}

@media screen and (max-width: 645px) {
  .inteligenciaCard {
    padding-top: 70px;
    width: 100%;
    height: 300px;
  }

  .textCourseB {
    width: 30px;
    padding-left: 0px;

  }

  .containerAboutCourse {

    padding: 0px;
    align-items: center;
  }

}

@media screen and (max-width: 635px) {
  .inteligenciaCard {
    width: 100%;
    height: 300px;
  }

}

@media screen and (max-width: 800px) {

  .containerAboutCourse {
    padding-left: 100px;
    padding-right: 80px;
  }


}

@media screen and (max-width: 430px) {
  .inteligenciaCard {
    width: 100%;
    height: 300px;
  }

  .textCourseB {
    width: 100%;
    align-items: center;
    padding-left: 0px;


  }

  .containerAboutCourse {

    padding: 0px;
    align-items: center;
  }
}


@media screen and (min-width: 320px) and (max-width: 400px) {


  .containerAboutCourse {

    padding-left: 0px;
    align-items: center;
  }

  .containerTextos h2 {
    font-size: 20px;
  }
  .containerTextos .textCourseB {
    margin-left: 0px;
    width: 290px;

  }
}

@media screen and (max-width:490px) {
  .containerTextos{
    padding-left: 0px;
  }
  .containerTextos p{
    
    width: 350px;
  }
}

@media screen and (max-width:319px) {
  .inteligenciaCard img{
    width: 2000px;
  }

  .containerTextos .textCourseB {
    width: 250px;
  }

  .containerTextos h2 {
    font-size: 14px;
    width: 200px;
  }

  .textCourseB {
    padding-left: 0px;
    width: 290px;
  }
}

@media screen and (min-width: 420px) and (max-width:530px) {
  .containerAboutCourse {
    padding-left: 0px;
    padding-right: 0px;
}
}