.Banner {
  position: relative;
  top: 80px;
  width: 100%;
  height: 200px;
  background-color: #212529;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.Banner .Container .titulo {

  color: white;
  background-color: #212529;
  font-weight: 700;

}


.head-text {
  position: relative;
}

.text-on-image {
  position: absolute !important;
  right: 50% !important;
  left: 50% !important;
  bottom: 15%;
}

.containerAboutCourse {
  display: flex;
  align-items: center;
  justify-content: center;



  padding-left: 150px;
  padding-right: 100px;
  padding-top: 80px;
  padding-bottom: 70px;
}



.Containerr {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.inteligenciaCard {
    width: 600px;
    height: 400px;

}

@media screen and (max-width: 1030px) {
  .containerAboutCourse {
    flex-wrap: wrap;
    flex-direction: column;
  }

  /*definir classname para os parágrafos do containerAboutCourse*/
  /* diminuir width dos parágrafos e organizar estilização no css*/

}