.testee1234{
   
        display: flex;
        object-position: center;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
}
.secaoo{
    width: 50%;
}