.head-text {
  position: relative;
}

.text-on-image {
  position: absolute !important;
  right: 50% !important;
  ;
  left: 50% !important;
  bottom: 15%;
}

p {
  width: 750px;
}

.ContainerAboutTheProject {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
.item{
  position: relative;
  margin: 13px 0px;
  
}
.item::before {
  content: '\2705';
  position: relative;
  margin-right: 3px;
}



@media screen and (max-width: 1025px) {
  .ImagemCursoCard {
    display: none;
  }

  p {
    padding: 0;
    width: 550px;
  }
}

@media screen and (max-width: 430px) {
  .ImagemCursoCard {
    display: none;
  }

  p {
    padding: 0;
    width: 350px;

  }

  div {
    
  }
}

@media screen and (max-width: 330px) {
  p{
    width: 280px;
    
  }

}