.ContainerCardCourse{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.IntroductionLegend{
    width: 360px;
   
    text-align: center;
    color: #a2a2a2;
    line-height: 1.6;
    font-size: 16px;
}

.card-text{
    display:'flex';
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#sld{
    width: 18rem
}

@media screen and (max-width: 330px) {
    .IntroductionLegend{
         width: 280px;
        font-size: 13px;
    }
    .ContainerCardCourse{
        width: 100%;
    }


    
}

@media screen and (max-width: 280px) {

    #sld{
        width: 16rem
    }
    .IntroductionLegend{
        width: 150px;
        margin-left: 50px;
    }
}

@media screen and (max-width: 220px) {

    #sld{
        width: 10rem

    }
    .IntroductionLegend{
        width: 150px;
        margin-left: 20px;
    }
   
}
