.ContainerCardCourse{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.IntroductionLegend{
    width: 360px;
   
    text-align: center;
    color: #a2a2a2;
    line-height: 1.6;
    font-size: 16px;
}

.card-text{
    display:'flex';
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

@media screen and (max-width: 330px) {
    .IntroductionLegend{
         width: 300px;
        font-size: 14px;
    }
    .ContainerCardCourse{
        width: 110%;
    }
    
}

