

.TestandoAqui {
    width: 100%;
    padding: 70px;
    
    
}

.TestandoAqui .containerFooter {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;

}

.TestandoAqui .containerFooter div {
    margin: 5px;
}

.dinoveFooter {
    height: 80px;
}

.huaweiLogoSolo {
    height: 80px;
}
.labic{
    height: 110px;
}

.ifsLogoSolo {
    height: 80px;
}



@media screen and (max-width: 440px) {
    .dinoveFooter {
        height: 60px;
        object-position: bottom;
    }


}


@media screen and (max-width: 380px) {
    .dinoveFooter {
        height: 60px;
        object-position: bottom;
    }
    .TestandoAqui{
        width: 100%;
    }

}

@media screen and (max-width: 340px) {
    .huaweiLogoSolo {
        height: 70px;

    }

    .ifsLogoSolo {
        height: 70px;


    }
    .dinoveFooter{
        height: 50px;
    }
    .TestandoAqui{
        width: 100%;
    }
    


}
@media screen and (max-width: 280px) {
    .huaweiLogoSolo {
        height: 50px;

    }

    .ifsLogoSolo {
        height: 50px;


    }
    .dinoveFooter{
        height: 40px;
    }
    .TestandoAqui{
        width: 100%;
    }
}